
{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">


<f:flashMessages />
	<input type="hidden" class="hdnReportPid" value="{reportPid}">
	<f:if condition="{errorCode}!=''">
		<div class="alert alert-danger" role="alert">
			<f:translate key="label.errorMess.{errorCode}"></f:translate>
		</div>
	</f:if>
	<f:if condition="{isValid}==0">
		<div class="alert alert-danger" role="alert">
			{ErrMess}
		</div>
	</f:if>
<div class="col-md-12">
    <div class="row">		
		<div class="col-md-12">
			<div class="report-status">
				<f:if condition="{hasOngoingReport}=='0'">
					<button type="button" class="btn btn-success btn-new-report" data-version="{nextReportVersion}" data-estateUid="{estateUid}">Starta ny rapport</button>
				</f:if>
				<f:if condition="{hasOngoingReport}=='1'">
					<div class="alert alert-info report-started">
					  <strong>Rapport påbörjad</strong>
					</div>
				</f:if>
			</div>
			<f:if condition="{enableAdminNote}">
				<div class="cp-container">
					<h2>Viktig information</h2>			
					<f:render partial="Report/AdminNote" arguments="{report:reportWithVersion, hasOngoingReport:hasOngoingReport, estateAdminNote: estateAdminNote}" />
					<div class="save-admin-note">
						<button type="button" class="btn btn-success hidden">Spara</button>
					</div>	
				</div>
			</f:if>			
			<f:if condition="{hasImages}>0">
			<div class="cp-container">				
				<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Visa bilder</button>
			</div>
			</f:if>
			<div class="cp-container">
				<h2>Följande kontroll-punkter kan du hitta på denna fastighet</h2>
				<f:for each="{subPages}" as="pid">
					<v:variable.set name="cpIsScanned" value="0" />
					
						<f:for each="{reportWithVersion.notes}" as="note">
							<f:if condition="{note.isComplete}==''">
								<f:if  condition="{note.pageId}=={pid.uid}">
									<v:variable.set name="cpIsScanned" value="1" />
								</f:if>
							</f:if>
						</f:for>
					
					<f:if condition="{pid.doktype}=='1'">
						<f:if condition="{v:variable.get(name: 'cpIsScanned')}=='1'">
							<f:then>
								<div class="cp-link-container">
									<f:link.page pageUid="{pid.uid}" class="cp-link">{pid.title} >> </f:link.page>
									<span class="no-of-checked">({pid.scannedQuestions} av {pid.totalNoOfQuestions} kontrollerade)</span>
								</div>
							</f:then>
							<f:else>
								<div class="cp-info">{pid.title} <span class="no-of-checked">({pid.scannedQuestions} av {pid.totalNoOfQuestions} kontrollerade)</span></div>								
							</f:else>						
						</f:if>
					</f:if>
				</f:for>
			</div>
			<div class="cp-container">
				<h2>Tidigare anmärkningar på denna fastighet</h2>			
				<f:for each="{postedReports}" as="report">
					<f:render partial="Report/PostedNote" arguments="{report:report, hasOngoingReport:hasOngoingReport}" />
				</f:for>
				<div class="save-fixed-btn">
					<button type="button" class="btn btn-success hidden">Spara</button>
				</div>			
			</div>
			<div class="cp-container">
				<h2>Pågående rapport</h2>
				<div class="outer-posted-notes-container">
					<f:for each="{reportWithVersion.notes}" as="note">
						<f:render partial="Report/ReportedNoteList" arguments="{note:note}" />
					</f:for>
				</div>
			</div>
			<f:if condition="{reportWithVersion.notes -> f:count()}>0">
				<f:then>
					<f:link.page additionalAttributes="{data-reportuid: reportWithVersion.uid}" class="btn btn-danger btn-save-report">Skicka in rapport >></f:link.page>        
				</f:then>
				<f:else>
					<f:if condition="{reportWithVersion.reportedMeasurement -> f:count()}>0">
						<f:then>
							<f:link.page additionalAttributes="{data-reportuid: reportWithVersion.uid}" class="btn btn-danger btn-save-report">Skicka in rapport >></f:link.page>
						</f:then>
						<f:else>
							<f:link.page additionalAttributes="{data-reportuid: reportWithVersion.uid}" class="btn btn-danger btn-save-report hidden">Skicka in rapport >></f:link.page>      
					</f:else>
					</f:if>
				</f:else>      
			</f:if> 
		</div>
	</div>
</div>
<f:render partial="Note/ImageModal" arguments="{reportWithVersion:reportWithVersion, postedReports:postedReports}" />
</f:section>