.dropdown-menu.sub {
	left: 100%;
    top: -13%;
}
body h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 35px;
	font-weight: 400;
	color:#F0525E;
}
body h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 32px;
	font-weight: 400;
	color:#454545;
}
body h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 29px;
	font-weight: 400;
	color:#454545;
}
body h4 {
	font-family: 'Open Sans', sans-serif;
	font-size: 26px;
	font-weight: 300;
	color:#454545;
}
body h5 {
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight: 300;
	color:#454545;
}
body h6 {
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight: 300;
	color:#454545;
}
footer h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 35px;
	font-weight: 400;
	color:#ffffff;
	border-bottom:1px solid #69c7ef;
	padding-bottom: 10px;
}
footer h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 32px;
	font-weight: 400;
	color:#ffffff;
	border-bottom:1px solid #69c7ef;
	padding-bottom: 10px;
}
footer h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 29px;
	font-weight: 400;
	color:#ffffff;
	border-bottom:1px solid #69c7ef;
	padding-bottom: 10px;
}
footer h4 {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 300;
	color:#ffffff;
	border-bottom:1px solid #69c7ef;
	padding-bottom: 10px;
}
footer h5 {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: 300;
	color:#ffffff;
	border-bottom:1px solid #69c7ef;
	padding-bottom: 10px;
}
footer h6 {
	color:#ffffff;
	border-bottom:1px solid #69c7ef;
	padding-bottom: 10px;
}
body li {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}
body p {
	font-family: 'Open Sans', sans-serif;
	font-size: 19px;
	font-weight: 300;
	color:#454545;
}
body a {
	color:#309fde;
	font-size: 16px;
	font-weight: 300;
	color:#309fde;
}
.footer-inner-left {
	float:left;
	width:30%;
}
.footer-inner-right {
    width: 69%;
    overflow: hidden;
    border: 1px solid;
    border-radius: 4px;
    height: 110px;
    float:right;
    position: relative;
}
.footer-inner-right iframe {
	width:100%;
}
footer .frame.default {
	margin-bottom:0;
}
footer .col-sm-6 {

	margin-bottom: 20px;
}
.row.footer-row {
	margin-left:0;
	margin-right:0;
}
.footer-border {
    border-bottom: 1px solid #69c7ef;
    margin-bottom: 30px;
}
/*Add image caption*/
/*Add top menu style*/
body .navbar-default {
	background-image:none;
	background-color: #ffffff;
}

.navbar.navbar-default .navbar-nav>.active>a, .navbar.navbar-default .navbar-nav>.active>a:focus, .navbar.navbar-default .navbar-nav>.active>a:hover {
	/*padding: 93px 15px 0px 15px;
	line-height: initial;*/
	background-color: transparent;
	background-image: none;
	box-shadow: none;
}

.navbar .navbar-main > li > a .bar {
	background: #309fde;
}
.carousel-inner {
	background-color: #b7d3e7;
}
body .carousel-text {
	text-shadow:none;
}
.glyphicon.glyphicon-paperclip {
	background-color: #309fde !important;
}
.texticon-type-square .glyphicon, .texticon-type-circle .glyphicon {
    line-height: 1.6em;
    height: 1.6em;
    width: 1.6em;
}
.texticon-size-medium {
    font-size: 2em;
}
.carousel .carousel-indicators li {
	border:1px solid grey;
}
.carousel .carousel-indicators li.active {
	border:2px solid orange;
	width:10px;
	height:10px;
	margin:1px;
}
.frame.default {
	clear:both;
	margin-bottom:0;
}
.frame.default hr {
	border-top: 2px solid #eee;
}
.frame {
    margin-top: 0px;
}
.footer-section {
	background: #163554;
}
.meta-section {
	display:none;
}
.footer-section a, .footer-section a:hover, .meta-section a, .meta-section a:hover, .meta-section a:focus, .meta-section .active a {
    color: #69c7ef;
}
.carousel .carousel-inner > .item {
	width:100%;
	padding-bottom:38%;
	height:auto;
}
body .carousel-control.left, body .carousel-control.right {
	background-image: none;
}
.main-section .container {
	margin-top:30px;
}
.btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger, .btn-link, .btn-secondary {
	min-width: 60px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.55;
    border-radius: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
form ol {
	padding-left: 0;
    list-style: none;
}
form li label {
	width: 17%;
}
@media (min-width: 769px) {
	.navbar .navbar-main > li > a {
		/*padding: 93px 15px 0px 15px;*/
		padding: 93px 10px 0px 10px;
		line-height: initial;
	}
	.navbar.navbar-top {
		height: 155px;
	}
	.carousel .carousel-inner > .item {
		background-position: center center;
		background-size: contain;
		height:445px;
		width:100%;
		padding-bottom:0;
		/*margin:0 auto;*/
		/*margin:0 0 0 25%;*/
	}
	.carousel .carousel-inner .item {
		background-position:  center center;
		background-size: contain;
		height:445px;
		width:100%;
		/*margin:0 auto;*/
	}
}


@media (min-width: 1200px) {
	.carousel .carousel-inner > .item {
		background-position: center center;
		background-size: contain;
		height:445px;
		width:100%;
		padding-bottom:0;
		/*margin:0 auto;*/
		/*margin:0 0 0 25%;*/
	}
	.carousel .carousel-inner .item {
		background-position:  center center;
		background-size: contain;
		height:445px;
		width:100%;
		/*margin:0 auto;*/
	}

	.carousel-inner .valign {
		width:1170px;
	}
}

.navbar-toggle.collapsed .icon-bar:nth-child(2) {
	margin-top: -8px !important;
}
.navbar-toggle.collapsed .icon-bar:nth-child(3) {
	margin-top: 0 !important;
	margin-left: 0px !important;
}
.navbar-toggle.collapsed .icon-bar:nth-child(4) {
	margin-top: 8px !important;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: #ffffff !important;
}
@media (max-width: 991px) {
	.navbar-header-main .navbar-brand.navbar-brand-image > img {
    	max-height: 55px;
	}
}
@media (max-width: 1024px) {
	.navbar .navbar-main > li > a {
		/*padding: 36px 15px 20px 15px;*/
		padding: 36px 10px 20px 10px;
	}
	.navbar.navbar-default .navbar-nav>.active>a, .navbar.navbar-default .navbar-nav>.active>a:focus, .navbar.navbar-default .navbar-nav>.active>a:hover {
		/*padding: 36px 15px 20px 15px;*/
		padding: 36px 10px 20px 10px;
	}
}
@media (max-width: 768px) {
	.navbar-header-border-bottom {
		display:none !important;
	}
	.navbar .navbar-main > li > a .bar {
		display:none !important;
	}
}
@media (min-width: 768px) {
	.carousel .carousel-inner .item {

	}
}
@media (min-width: 769px) {
	.carousel .carousel-inner .item {
		height: 389px;
	}
}
@media (max-width: 700px) {
	.navbar .navbar-main > li > a {
		padding: 7px 10px 7px 10px;
		/*padding: 7px 15px 7px 15px;*/
	}
}

.caret {
	display:none !important;
}

.image-beside-right .image-wrap {
	float:right;
	width:50%;
}
.image-beside-right .text {
	float:left;
	width:50%;
}

.image-beside-left .image-wrap {
	float:left;
	width:50%;
}

.image-beside-left .text {
	float:right;
	width:50%;
}
