
<table class="tx-dl-iponlyestate" >
	<tr>
		<td>
			<f:translate key="tx_dliponlyestate_domain_model_estate.name" />
		</td>
		<td>
		{estate.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dliponlyestate_domain_model_estate.estate_description" />
		</td>
		<td>
		{estate.estateDescription}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dliponlyestate_domain_model_estate.admin_note" />
		</td>
		<td>
		{estate.adminNote}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dliponlyestate_domain_model_estate.enable_admin_note" />
		</td>
		<td>
		{estate.enableAdminNote}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dliponlyestate_domain_model_estate.page_link" />
		</td>
		<td>
		{estate.pageLink}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dliponlyestate_domain_model_estate.adress" />
		</td>
		<td>
		{estate.adress}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dliponlyestate_domain_model_estate.image" />
		</td>
		<td>
				<f:image src="{estate.image.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dliponlyestate_domain_model_estate.postal_code" />
		</td>
		<td>
		{estate.postalCode}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dliponlyestate_domain_model_estate.city" />
		</td>
		<td>
		{estate.city}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dliponlyestate_domain_model_estate.width" />
		</td>
		<td>
		{estate.width}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dliponlyestate_domain_model_estate.length" />
		</td>
		<td>
		{estate.length}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dliponlyestate_domain_model_estate.door_position" />
		</td>
		<td>
		{estate.doorPosition}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dliponlyestate_domain_model_estate.latitude" />
		</td>
		<td>
		{estate.latitude}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dliponlyestate_domain_model_estate.longitude" />
		</td>
		<td>
		{estate.longitude}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dliponlyestate_domain_model_estate.responsible_technician" />
		</td>
		<td>
		{estate.responsibleTechnician}
		</td>
	</tr>
</table>