
<table class="tx-dl-iponlyestate" >
	<tr>
		<td>
			<f:translate key="tx_dliponlyestate_domain_model_controlpoint.name" />
		</td>
		<td>
		{controlPoint.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dliponlyestate_domain_model_controlpoint.header" />
		</td>
		<td>
		{controlPoint.header}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dliponlyestate_domain_model_controlpoint.description" />
		</td>
		<td>
		{controlPoint.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dliponlyestate_domain_model_controlpoint.image" />
		</td>
		<td>
				<f:image src="{controlPoint.image.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dliponlyestate_domain_model_controlpoint.show_critical_button" />
		</td>
		<td>
		{controlPoint.showCriticalButton}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dliponlyestate_domain_model_controlpoint.show_remark_button" />
		</td>
		<td>
		{controlPoint.showRemarkButton}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dliponlyestate_domain_model_controlpoint.show_purchase_info_button" />
		</td>
		<td>
		{controlPoint.showPurchaseInfoButton}
		</td>
	</tr>
</table>