
{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<f:flashMessages />
<f:comment>
<button onclick="window.print();">Skriv ut</button>
<div><f:format.raw>{qrParent}</f:format.raw></div>
</f:comment>

<f:comment>
<f:for each="{qrPages}" as="qrSubPage">
	<div><f:format.raw>{qrSubPage}</f:format.raw></div>
</f:for>
</f:comment>
<f:if condition="{librarytest}=='QRious'">
	<h1>QRious</h1>
	<canvas id="qrious"></canvas>
	<v:asset.script name="QRious">
		(function() {
			const qr = new QRious({
		  		element: document.getElementById('qrious'),
		  		value: 'https://neocotic.com/qrious'
			});
		})();
	</v:asset.script>
</f:if>
<f:if condition="{librarytest}=='shieldQRcode'">
	<h1>HTML5 Canvas</h1>
	<f:for each="{qrPages}" as="qrPage" iteration="it">
		<div class="shieldQRcodeClass" id="qr_{it.index}" data-qrUrl="{qrPage.qrUrl}" data-parentPage="{qrPage.parentPage}" data-subPage="{qrPage.subPage}"></div>
        <f:if condition="{qrPage.subPage}">
        	<f:then>
        		<div style="font-weight: bold;text-align: center;font-size: 13px;font-family: Arial;white-space: nowrap;">{qrPage.subPage}</div>
        	</f:then>
        	<f:else>
        		<div style="font-weight: bold;text-align: center;font-size: 13px;font-family: Arial;white-space: nowrap;">Fastighetstagg</div>
        	</f:else>
        </f:if>        
        <div>{qrPage.qrUrl}</div>
	</f:for>
</f:if>

<f:if condition="{librarytest}=='qrserver'">
	<h1>Ombyggt</h1>
	<f:for each="{qrPages}" as="qrPage">
		<div style="transform: rotate(-90deg);width: 180px;margin-left: 48px;">
	        <img src="https://api.qrserver.com/v1/create-qr-code/?data={qrPage.qrUrl}&amp;size=180x180" alt="" title="" />
	        <div style="margin-top: 20px;text-align: center;font-size: 22px;font-family: Arial;font-weight: bold;white-space: nowrap;">{qrPage.parentPage}</div>
	        <f:if condition="{qrPage.subPage}">
	        	<f:then>
	        		<div style="font-weight: bold;text-align: center;font-size: 13px;font-family: Arial;white-space: nowrap;">{qrPage.subPage}</div>
	        	</f:then>
	        	<f:else>
	        		<div style="font-weight: bold;text-align: center;font-size: 13px;font-family: Arial;white-space: nowrap;">Fastighetstagg</div>
	        	</f:else>
	        </f:if>        
	    </div>
	    <div>{qrPage.qrUrl}</div>
	</f:for>
</f:if>
<f:comment>
<v:asset.script content="NULL" path="NULL" external="1" name="NULL" overwrite="1" dependencies="NULL" group="'fluid'" debug="1" standalone="1" rewrite="1" fluid="1" variables="[mixed]" movable="1" trim="1" namedChunks="1">
	<!-- tag content - may be ignored! -->
</v:asset.script>
makeCode.js
</f:comment>
</f:section>