<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Fastighet: {reportWithVersion.estate.name} - {reportWithVersion.notes.0.controlPoint.nodeType.name}</h4>
      </div>
      <div class="modal-body">
        <f:for each="{reportWithVersion.notes}" as="note">
            <f:if condition="{note.images}">
                <div class="item">
                    <h2>{note.controlPoint.name} - {note.question.name}</h2>
                    <div style="font-weight:bold;">{note.comment}</div>
                    <div class="item-img">
                        <f:image
                            src="{note.images.uid}"
                            class="img-responsive"
                            alt=""
                            title=""
                            width=""
                            height=""
                            treatIdAsReference="1"
                        />
                    </div>
                </div>
            </f:if>
            <f:if condition="{note.images2}">
                <div class="item">
                    <h2>{note.controlPoint.name} - {note.question.name}</h2>
                    <div style="font-weight:bold;">{note.comment}</div>
                    <div class="item-img">
                        <f:image
                            src="{note.images2.uid}"
                            class="img-responsive"
                            alt=""
                            title=""
                            width=""
                            height=""
                            treatIdAsReference="1"
                        />
                    </div>
                </div>
            </f:if>
            <f:if condition="{note.images3}">
                <div class="item">
                    <h2>{note.controlPoint.name} - {note.question.name}</h2>
                    <div style="font-weight:bold;">{note.comment}</div>
                    <div class="item-img">
                        <f:image
                            src="{note.images3.uid}"
                            class="img-responsive"
                            alt=""
                            title=""
                            width=""
                            height=""
                            treatIdAsReference="1"
                        />
                    </div>
                </div>
            </f:if>
            <f:if condition="{note.images4}">
                <div class="item">
                    <h2>{note.controlPoint.name} - {note.question.name}</h2>
                    <div style="font-weight:bold;">{note.comment}</div>
                    <div class="item-img">
                        <f:image
                            src="{note.images4.uid}"
                            class="img-responsive"
                            alt=""
                            title=""
                            width=""
                            height=""
                            treatIdAsReference="1"
                        />
                    </div>
                </div>
            </f:if>
            <f:if condition="{note.images5}">
                <div class="item">
                    <h2>{note.controlPoint.name} - {note.question.name}</h2>
                    <div style="font-weight:bold;">{note.comment}</div>
                    <div class="item-img">
                        <f:image
                            src="{note.images5.uid}"
                            class="img-responsive"
                            alt=""
                            title=""
                            width=""
                            height=""
                            treatIdAsReference="1"
                        />
                    </div>
                </div>
            </f:if>
        </f:for>
        <f:comment>
        <f:for each="{postedReports}" as="report">
            <f:for each="{report.notes}" as="note">
                <f:if condition="{note.images}">
                    <div class="item">
                        <h2>{note.controlPoint.name} - {note.question.name}</h2>
                        <div style="font-weight:bold;">{note.comment}</div>
                        <div class="item-img">
                            <f:image
                            src="{note.images.uid}"
                            class="img-responsive"
                            alt=""
                            title=""
                            width=""
                            height=""
                            treatIdAsReference="1"
                            />
                        </div>
                    </div>
                </f:if>
            </f:for>
        </f:for>
        </f:comment>
      </div>
    </div>
  </div>
</div>
