
<table class="tx-dl-iponlyestate" >
	<tr>
		<td>
			<f:translate key="tx_dliponlyestate_domain_model_note.comment" />
		</td>
		<td>
		{note.comment}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dliponlyestate_domain_model_note.state" />
		</td>
		<td>
		{note.state}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dliponlyestate_domain_model_note.images" />
		</td>
		<td>
				<f:image src="{note.images.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dliponlyestate_domain_model_note.images2" />
		</td>
		<td>
				<f:image src="{note.images2.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dliponlyestate_domain_model_note.images3" />
		</td>
		<td>
				<f:image src="{note.images3.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dliponlyestate_domain_model_note.images4" />
		</td>
		<td>
				<f:image src="{note.images4.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dliponlyestate_domain_model_note.images5" />
		</td>
		<td>
				<f:image src="{note.images5.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dliponlyestate_domain_model_note.remark_type" />
		</td>
		<td>
		{note.remarkType}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dliponlyestate_domain_model_note.version" />
		</td>
		<td>
		{note.version}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dliponlyestate_domain_model_note.is_complete" />
		</td>
		<td>
		{note.isComplete}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dliponlyestate_domain_model_note.date" />
		</td>
		<td>
		{note.date -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dliponlyestate_domain_model_note.executive_technician" />
		</td>
		<td>
		{note.executiveTechnician}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dliponlyestate_domain_model_note.page_id" />
		</td>
		<td>
		{note.pageId}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dliponlyestate_domain_model_note.uploaded_image" />
		</td>
		<td>
		{note.uploadedImage}
		</td>
	</tr>
</table>